  
//   .toolbar {
//     height: auto;
//     width: 100%;
//     margin: -8px;
//     display: flex;
//     align-items: center;
//     background-color: #a9b8c4;
//     color: white;
//     font-weight: 600;
//   }

//   .toolbar img {
//     margin: 0 16px;
//   }
//   .mychat{
//       background-color: cadetblue;
//   }

body{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'Arial';  
}